/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('assets/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    position: relative;
    z-index: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: -1;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77aaff 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header h1 {
    float: left;
}

/* Section Styles */
section {
    padding: 20px 0;
    border-bottom: 1px #e4e4e4 solid;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-pic {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* Gallery Styles */
.swiper-container {
    width: 100%;
    padding: 20px 0;
}

.swiper-slide {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    max-height: 150px; /* Adjust the height to make it smaller */
    border-radius: 10px;
}

.caption {
    margin-top: 10px;
    color: #ddd;
}

/* Footer Styles */
footer {
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #333;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    header nav {
        float: none;
        margin-top: 15px;
    }
    header h1 {
        float: none;
        margin-bottom: 10px;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header li {
        padding: 10px 0;
    }
    section h2 {
        font-size: 1.5em;
    }
    .profile-pic {
        width: 100px;
        height: 100px;
    }
    .swiper-slide img {
        max-height: 100px; /* Further reduce height for smaller screens */
    }
}
